{% extends 'base/base.html' %}
{% load static %}

{% block title %}
ثبت نام
{% endblock title %}

{% block meta %}
{% endblock meta %}

{% block styles %}
{% endblock styles %}

{% block content %}
<form method="post" class="form-control">
    {% csrf_token %}
    
    {% for field in form %}
        <p class="form-group">
            {{ field }} 
            {% if field.errors %}
                <div class="errors">
                    {% for error in field.errors %}
                        <span class="error-message">{{ error }}</span>
                    {% endfor %}
                </div>
            {% endif %}
        </p>
    {% endfor %}
    
    <button type="submit" class="btn btn-primary">ثبت نام</button>
</form>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}