SECRET_KEY = "Your Secret Key"
# ------------ Database --------------
# Leave Blank if Use Sqlite
Db_NAME=
Db_USER=
Db_PASSWORD=
Db_HOST=
Db_PORT=
# ------------ Database --------------
# ------------ Gitea -----------------
GITEA_ADMIN_TOKEN= "Your admin token"
GITEA_URL = "http://localhost:3000" #gitea default