{% extends 'base/base.html' %}
{% load static %}
{% load humanize %}

{% block title %}
پروفایل {{ profile }}
{% endblock title %}

{% block meta %}
{% endblock meta %}

{% block styles %}
<style>
    .card {
        margin:1ch;
    }
    .user-avatar {
        height: 15ch;
        width: 15ch;
        border-radius: 50%;
    }
</style>
{% endblock styles %}

{% block content %}
<div class="card">
    <div class="card-header">
        <img class="user-avatar" src="{{ profile.avatar.url }}" alt="">
        <span class="h2">{{ profile }}</span>
    </div>
    <div class="card-body">
        <div>
            {% if profile.bio %}
            <h3>بیوگرافی</h3>
            <strong>
            {{ profile.bio }}
            </strong>
            {% endif %}
        </div>
    </div>
    <div class="details card-footer">
        <span class="date-joined">از {{ profile.date_joined|naturaltime }} عضو سایت بوده</span>
    </div>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}