{% extends 'base/base.html' %}
{% load static %}

{% block title %}
{% endblock title %}

{% block meta %}
{% endblock meta %}

{% block styles %}
{% endblock styles %}

{% block content %}
<div>
    <h2>پست ها:</h2>
    <a href="#">مشاهده ی همه> </a>
    <h3>آمار کلی</h3>
    <ul>
        <li>تعداد پست ها:{{ posts|length }}</li>
        <li>تعداد پست های منتشر شده:{{ verify_posts|length }}</li>
        <li>تعداد نظرات زیر پست ها:{{ post_comments_count }}</li>
        <li>تعداد کلمات تایپ شده:{{ write_words_count }}</li>
        <li>مجموع بازدید پست ها :{{ total_post_views }}</li>
    </ul>
</div>
<div>
    <h2>نظرات:</h2>
    <a href="#">مشاهده ی همه> </a>

    <h3>اطلاعات کلی</h3>
    <ul>
        <li>تعداد نظرات نوشته شده:{{ comments|length }}</li>
        <li>تعداد نظرات منتشر شده:{{ verify_comments|length }}</li>
    </ul>
</div>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}