{% extends 'base/base.html' %}
{% load static %}

{% block title %}
حذف پست
{% endblock title %}

{% block meta %}
{% endblock meta %}

{% block styles %}
<link rel="stylesheet" href="{% static 'css/blog.css' %}">
{% endblock styles %}

{% block content %}

<h2 class="text-danger">مطمعنی که میخوای پستو حذف کنی؟این عمل بازگشت پذیر نیست</h2>
<hr>
<form action='' method='post' enctype='multipart/form-data'>
{% csrf_token %}
{{ form.as_p }}
<button class="btn btn-danger" type='submit'>بله،پست را حذف کن</button>
</form>
<br>
<a href="{% url 'blog:list' %}" class="btn btn-warning">نه،من رو به لیست پست ها برگردون</a>
{% endblock content %}

{% block scripts %}
{% endblock scripts %}